<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BigBazar - Multipurpose Ecommerce HTML Template">

    <meta name="author" content="root">
    <title>BigBazar - About Us</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/layerslider.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/category/optical-shop.css">



</head>

<body>
    <!-- ==============header start================= -->
    <%- include('../partials/header') %>
        <!-- =====================header end===================== -->

        <!-- breadcrumb -->
        <div class="full-row bg-light overlay-dark py-5"
            style="background-image: url(images/background/4.png); background-position: center center; background-size: cover;">
            <div class="container">
                <div class="row text-center text-white">
                    <div class="col-12">
                        <h3 class="mb-2 text-primary">About Us</h3>
                    </div>
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 d-inline-flex bg-transparent p-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">About Us</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- breadcrumb -->

        <!--==================== About Owner Section Start ====================-->
        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 order-lg-2">
                        <span class="ordenery-font text-primary h5 pb-1 d-table">About Us</span>
                        <h3 class="text-dark mb-3">Short Story About Us</h3>
                        <p>Imperdiet adipiscing mus sit senectus rutrum massa eu tristique proin estibulum scelerisque
                            porta augue porta neque conubia sed vestibulum sollicitudin turient dignissim congue aenean
                            vivamus.</p>
                        <div class="datalist-icon-left py-2 d-flex">
                            <span class="d-table me-3"><i class="flaticon-startup flat-medium text-primary"></i></span>
                            <div class="ps-3">
                                <h4 class="text-dark mb-3">Our Mission</h4>
                                <p>Nostra netus porttitor cursus Imperdiet proin. Vestibulum malesuada faucibus. Quam
                                    vivamus eu consectetuer praesent phasellus sapien dis natoque dignissim imperdiet
                                    morbi.</p>
                            </div>
                        </div>
                        <div class="datalist-icon-left py-2 d-flex">
                            <span class="d-table me-3"><i class="flaticon-bike flat-medium text-primary"></i></span>
                            <div class="ps-3">
                                <h4 class="text-dark mb-3">Our Vission</h4>
                                <p>Nostra netus porttitor cursus Imperdiet proin. Vestibulum malesuada faucibus. Quam
                                    vivamus eu consectetuer praesent phasellus sapien dis natoque dignissim imperdiet
                                    morbi.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 order-lg-1 wow fadeIn md-mt-30" data-wow-delay="200ms"
                        data-wow-duration="1000ms">
                        <div class="mt-md-30 shadow mb-30 position-relative">
                            <img src="/images/banner/56.png" alt="bigbazar eCommerce">
                            <a data-fancybox class="video-popup" href="https://www.youtube.com/watch?v=-xW83WO0uM8"
                                title="video popup">
                                <span class="bg-primary text-white"><img src="/images/icon/video-play.png"
                                        alt=""></span>
                            </a>
                            <!-- Use youtube or Vimeo video link in href, first open the video and just copy the link from url and past here -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="fact-counter">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="mb-30 count wow fadeIn" data-wow-duration="300ms">
                                        <div class="mb-4 d-inline-block" style="width: 60px"><img
                                                src="/images/icon/branding.png" alt="medical unites"></div>
                                        <div class="text-primary"><span class="count-num"
                                                style="font-size: 50px; line-height: 50px" data-speed="3000"
                                                data-stop="126">0</span><span class="font-extra-large">+</span></div>
                                        <h3 class="my-3">Branding</h3>
                                        <p>Feugiat fusce volutpat habitant nullam nostra vestibulum senectus ultricies
                                            dolor urna sit mus quis hendrerit.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="mb-30 count wow fadeIn" data-wow-duration="300ms">
                                        <div class="mb-4 d-inline-block" style="width: 60px"><img
                                                src="/images/icon/12.png" alt="medical unites"></div>
                                        <div class="text-primary"><span class="count-num"
                                                style="font-size: 50px; line-height: 50px" data-speed="3000"
                                                data-stop="721">0</span><span class="font-extra-large">+</span></div>
                                        <h3 class="my-3">Analytics</h3>
                                        <p>Feugiat fusce volutpat habitant nullam nostra vestibulum senectus ultricies
                                            dolor urna sit mus quis hendrerit.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="mb-30 count wow fadeIn" data-wow-duration="300ms">
                                        <div class="mb-4 d-inline-block" style="width: 60px"><img
                                                src="/images/icon/illumination.png" alt="medical unites"></div>
                                        <div class="text-primary"><span class="count-num"
                                                style="font-size: 50px; line-height: 50px" data-speed="3000"
                                                data-stop="580">0</span><span class="font-extra-large">+</span></div>
                                        <h3 class="my-3">Campaing</h3>
                                        <p>Feugiat fusce volutpat habitant nullam nostra vestibulum senectus ultricies
                                            dolor urna sit mus quis hendrerit.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12 mb-4">
                        <span class="ordenery-font text-primary h5 pb-1 d-table">Information</span>
                        <h2 class="text-dark down-line mb-4">About Research</h2>
                        <p>Enim pretium faucibus montes blandit dui ridiculus morbi natoque in ipsum purus facilisis
                            pellentesque diam dapibus enim per. Per pulvinar torquent. Turpis tempor Risus hymenaeos
                            fermentum tortor rutrum nisl tempus platea dictum nisi ultricies mattis proin quis aenean
                            integer curae; aliquam sit felis, congue habitasse pulvinar fermentum sociosqu non velit
                            conubia, litora posuere pede ac, lobortis gravida hymenaeos accumsan urna gravida tortor.
                        </p>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <a href="/images/banner/30.png" data-fancybox="images"
                            data-caption="Medical research for eye treatment">
                            <img src="/images/banner/30.png" alt="medical template">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6 mb-4">
                        <a href="/images/banner/32.png" data-fancybox="images" data-caption="Research about TMC virus">
                            <img src="/images/banner/32.png" alt="medical template">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="full-row pt-0">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="bg-light p-5">
                            <span class="h6 text-center text-primary">Found in</span>
                            <h4 class="down-line mb-4">Best Skills</h4>
                            <span class="mt-4 mb-4 sub-title ordenery-font">Aliquam nostra condimentum blandit diam
                                libero habitant odio, aliquam a nam faucibus rhoncus malesuada porta vitae.</span>
                            <p>Facilisis sagittis mollis dignissim, curabitur vel morbi purus fermentum mi nostra dui
                                sit faucibus ornare odio vitae sit eu eu ultrices cum ligula taciti mollis vestibulum
                                adipiscing lorem in primis tempus netus interdum diam
                                velit eu mollis, diam facilisi id parturient dui etiam placerat sociis.</p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="capability-avg ps-lg-5 md-mt-50">
                            <div class="bar-progress fact-counter position-relative mb-5">
                                <span>Free Advicing</span>
                                <div class="mt-2 progress bg-light count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000"
                                            data-stop="90">0</span>%</div>
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="90"
                                        aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter position-relative mb-5">
                                <span>Medical Supply Capability</span>
                                <div class="mt-2 progress bg-light count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000"
                                            data-stop="82">0</span>%</div>
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="82"
                                        aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter position-relative mb-5">
                                <span>Patient Satisfaction</span>
                                <div class="mt-2 progress bg-light count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000"
                                            data-stop="85">0</span>%</div>
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="85"
                                        aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter position-relative mb-5">
                                <span>Quality of Doctor's</span>
                                <div class="mt-2 progress bg-light count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000"
                                            data-stop="99">0</span>%</div>
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="99"
                                        aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter position-relative mb-5">
                                <span>Advance Booking Patient</span>
                                <div class="mt-2 progress bg-light count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000"
                                            data-stop="80">0</span>%</div>
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="80"
                                        aria-valuemax="100"> </div>
                                </div>
                            </div>
                            <div class="bar-progress fact-counter position-relative mb-5">
                                <span>Average Online Response</span>
                                <div class="mt-2 progress bg-light count wow fadeIn" data-wow-duration="0ms">
                                    <div class="skill-percent"><span class="count-num" data-speed="3000"
                                            data-stop="51">0</span>%</div>
                                    <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="51"
                                        aria-valuemax="100"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--==================== About Owner Section End ====================-->

        <!-- ============ footer start ======================= -->
        <%- include('../partials/footer') %>
            <!-- ================= footer end ====================== -->

            <!-- Include Scripts -->
            <script src="/js/jquery.min.js"></script>
            <script src="/js/greensock.js"></script>
            <script src="/js/layerslider.transitions.js"></script>
            <script src="/js/layerslider.kreaturamedia.jquery.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/wow.js"></script>
            <script src="/js/jquery.fancybox.min.js"></script>
            <script src="/js/jquery.countdown.js"></script>
            <script src="/js/paraxify.js"></script>
            <script src="/js/custom.js"></script>

            <!-- Initializing the slider -->
            <script>
                $(document).ready(function () {
                    $('#slider').layerSlider({
                        sliderVersion: '6.0.0',
                        type: 'responsive',
                        responsiveUnder: 0,
                        maxRatio: 1,
                        hideUnder: 0,
                        hideOver: 100000,
                        skin: 'v6',
                        navStartStop: false,
                        skinsPath: '/skins/',
                        height: 960
                    });
                });
            </script>


</body>

</html>