<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta Tag -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BigBazar - Multipurpose Ecommerce HTML Template">

    <meta name="author" content="root">
    <title>BigBazar - Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!--  CSS Style -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/all.min.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/webfonts/flaticon/flaticon.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/css/layerslider.css">
    <link rel="stylesheet" href="/css/template.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/category/optical-shop.css">



</head>

<body>

    <!-- Navbar start  -->

    <!--==================== Header Section Start ====================-->
    <header class="ecommerce-header bg-white p-0">

        <div class="main-nav py-4 d-none d-lg-block">
            <div class="container-fluid px-lg-5">
                <div class="row">
                    <div class="col-xl-7 col-md-9">
                        <nav class="navbar navbar-expand-lg nav-dark nav-primary-hover nav-line-active">
                            <a class="navbar-brand" href="/"><img class="nav-logo" src="/images/logo/12.png"
                                    alt="Image not found !"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <i class="flaticon-menu-2 flat-small text-primary"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ms-lg-5">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/admin">Home</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/report">Reports</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="/logout">Log out</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                    <div class="text-end">

                        Hello, Admin

                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--==================== Header Section End ====================-->


    <!-- Navbar End  -->








    <!-- Include Scripts -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/greensock.js"></script>
    <script src="/js/layerslider.transitions.js"></script>
    <script src="/js/layerslider.kreaturamedia.jquery.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/wow.js"></script>
    <script src="/js/jquery.fancybox.min.js"></script>
    <script src="/js/jquery.countdown.js"></script>
    <script src="/js/paraxify.js"></script>
    <script src="/js/custom.js"></script>

    <!-- Initializing the slider -->
    <script>
        $(document).ready(function () {
            $('#slider').layerSlider({
                sliderVersion: '6.0.0',
                type: 'responsive',
                responsiveUnder: 0,
                maxRatio: 1,
                hideUnder: 0,
                hideOver: 100000,
                skin: 'v6',
                navStartStop: false,
                skinsPath: '/skins/',
                height: 960
            });
        });
    </script>


</body>

</html>